

.title {
    display:flex;
    justify-content: center;
}
.firstSection {
    justify-content: center;
    text-align: center;
    margin-top: 10px;
  
}
.btn {
  
    border-radius: 50px !important;
    width: 350px;
    margin-bottom: 10px;
    justify-content: space-around;
}
#inputEmail {
    width: 350px;
   
    margin-bottom: 10px;
}
.checkbox {
display: flex;
align-items: baseline;
justify-content: space-around;

}
    

.greenButt {
    width: 150px;
    height: 50px;
;
}